zookeeper:
  image: confluent/zookeeper:3.4.6-cp1
  hostname: zookeeper
  ports:
    - '2181:2181'

kafka:
  image: 'confluent/kafka:0.10.0.0-cp1'
  hostname: kafka
  ports:
    - '9092:9092'
  links:
    - zookeeper
  environment:
    - KAFKA_ADVERTISED_HOST_NAME=
    - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
    - KAFKA_LOG_CLEANUP_POLICY=compact

postgres:
  image: confluent/postgres-bw:0.1
  hostname: postgres
  ports:
    - '5432:5432'

bottledwater:
  image: boundlessgeo/bottledwater-json
  hostname: bottledwater
  command: --output-format=json --allow-unkeyed
  links:
    - postgres
    - kafka
  environment:
    - DB_NAME=spacon

nginx:
  image: jwilder/nginx-proxy
  ports:
    - '80:80'
  volumes:
    - /var/run/docker.sock:/tmp/docker.sock:ro

mosquitto:
  image: jllopis/mosquitto:v1.4.8
  hostname: mosquitto
  ports:
    - '1883:1883'
    - '9883:9883'

spatialconnect-server:
  build: .
  command: npm start
  ports:
    - '8085:8085'
  links:
    - postgres
    - nginx
  environment:
    - PGHOST=postgres
    - PGUSER=postgres
    - PGDATABASE=postgres
    - VIRTUAL_HOST=spatialconnect-server
    - NODE_ENV=development

kafka-tools:
  image: confluent/tools:0.9.0.0-cp1
  links:
    - zookeeper
    - kafka

geoserver:
  environment:
    - VIRTUAL_HOST=geoserver
    - JAVA_OPTS=-Xmx1536M -XX:MaxPermSize=756M
  image: 'kartoza/geoserver:latest'
  links:
    - nginx
    - postgis
  ports:
    - '8080:8080'

postgis:
      image: 'mdillon/postgis'
      environment:
        - POSTGRES_USER=spacon

spatialconnect-connectors:
  image: boundlessgeo/spatialconnect-connectors:latest
  links:
    - kafka
    - geoserver
  environment:
    - KAFKA_SERVERS=kafka:9092
    - TOPICS_LIST=form_data
    - GEOSERVER_URL=http://geoserver:8080/geoserver/
    - ROOT_LOG_LEVEL=INFO
