@import './palette';

.form-list {
  button {
    margin-bottom: 10px;
  }
  .form-item {
    background-color: #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    width: 300px;
    margin-bottom: 10px;
    padding: 10px;
    &:hover {
      border-color: @darkblue;
      cursor: pointer;
    }
    p {
      font-size: 12px;
    }
    ul {
      color: #999;
      font-size: 12px;
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
  }
}